body{
  background:url(../fotos/fondo.jpg);
}

@font-face{
	font-family: monof;
	src:url(../fuentes/monof55.ttf);
}

#menu{
    line-height: 35px;
    width: 60%;
    clear:both;
    text-align:center;
    background-color: rgb(169, 251, 135);
    border: #444477 solid 2px;
	position:absolute;
	line-through:center;
	margin-left:20%;
}


#menu a{
	background-color: rgb(169, 251, 135);
    letter-spacing: 1px;
    padding: 5px 20px;
    font-weight: bold;    
}
div{
	width: 30%;
	margin-left:10%;
	margin-right:10%;
	margin-top:10px;
	
}

#uno{
	background:url(../fotos/cesped.jpg);
	float:left;
	margin-top:35px;
}

#uno p{
	color: white;
	margin-left:25px;
	margin-right:15px;
	font-family: monof;
	font-weight: bold;
	font-size: 20pt;
}

#dos{
	margin-top:30px;
	float:right;
}


